@import 'app/theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

section {
    padding: 2em;
}

.my-container {
    padding:2em;
}

.my-min-content {
    width:min-content;
}
